{% extends "page.html.twig" %}

{% block content %}
    {#<ul>#}
        {#{% for letter in 'a'..'d' %}#}
            {#<li class="{{ cycle(['odd', 'even'], loop.index0) }}">{{ letter }}</li>#}
        {#{% endfor %}#}
    {#</ul>#}
    {% if page.left_sidebar %}
        <div class="col-md-6 left-sidebar">
            {{ my_name }}

            {{ page.left_sidebar }}
        </div>
    {% endif %}
    <div class="col-md-{{ page.left_sidebar ? '6' : '12' }} content">
        <h1{{ attributes }}>{{ my_text }}</h1>
        {{ page.content }}
        {{ kint() }}
    </div>
{% endblock %}